:root {
  --bg-white: #fff;
  --bg-black: #000;
  --bg-gray: #f3f3f3;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-gray);
}

.slider {
  width: 100%;
  height: auto;
  padding: 0px 0;
  margin: 0 auto;
  background-color: var(--bg-white);
}
.container {
  padding: 20px 60px;
}

.slider-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slider-controls {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.slider-wrapper__list {
  width: 100%;
  display: flex;
  transition: 0.5s;
  transform: translateX(0px);
}

.slider-indicators {
  max-width: 100%;
  display: flex;
  padding: 16px;
  margin-top: 8px;
}

.slider-indicators__list {
  max-width: 40px;
  min-width: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.slide {
  width: auto;
  height: 550px;
  border-radius: 8px;
  background-color: var(--bg-black);
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-gray);
}

.indicator--active {
  background-color: var(--bg-black);
}

.flex-auto {
  flex: auto;
}

.flex-w-full {
  flex: 1 0 100%;
}

.control-button {
  padding: 8px;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.364);
}

.control-button--disabled > svg > path {
  fill: #6c7275;
}

img {
  width: 100%;
  display: block;
}
